.pulse {
  position: relative;
}

@keyframes animation-pulse {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  60% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

.pulse-ring {
  display: block;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  position: relative;
  animation: animation-pulse 3.5s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  border-width: 3px;
  border-style: solid;
}

.text-gray-700 {
  color: #5e6278 !important;
}

.text-muted {
  color: #a1a5b7 !important;
  --bs-text-opacity: 1;
}

.h-30px {
  height: 40px !important;
}

.w-30px {
  width: 40px !important;
}

.btn {
  outline: none !important;
}

.btn:not(.btn-shadow):not(.shadow):not(.shadow-sm):not(.shadow-lg) {
  box-shadow: none !important;
}

.btn.btn-icon:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(
    .border-active
  ):not(.btn-flush) {
  border: 0;
}

.btn.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: calc(1.5em + 1.5rem + 2px);
  width: calc(1.5em + 1.5rem + 2px);
}

.ms-3 {
  margin-left: 0.75rem !important;
}

.symbol {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  border-radius: 0.475rem;
}
