<div class="d-flex align-items-center ms-3">
  <div
    class="btn btn-icon btn-active-light-primary position-relative pulse pulse-primary w-30px h-30px w-md-40px h-md-40px"
  >
    <!-- <span style="color: rgb(0, 158, 247)">+</span> -->
    <span class="pulse-ring"></span>
  </div>
  <span
    class="mat-badge mb-3 mat-badge-overlap mat-badge-above mat-badge-after mat-badge-medium"
  >
    <span class="mat-badge-content mat-badge-active">1</span>
  </span>
</div>
<div class="d-flex align-items-center ms-3">
  <div
    class="cursor-pointer symbol btn btn-active-light-primary position-relative symbol-30px symbol-md-40px"
  >
    <div>
      <span class="text-muted">Welcome, </span>
      <span class="text-gray-700">Anonymous</span>
    </div>
  </div>
</div>
