<div class="d-flex flex-column flex-root">
  <div class="page d-flex flex-row flex-column-fluid">
    <app-sidebar
      class="sidebar sidebar-fixed sidebar-dark sidebar-hoverable drawer drawer-start drawer-on"
      style="width: 250px !important"
    ></app-sidebar>
    <div class="wrapper d-flex flex-column flex-row-fluid">
      <app-header class="header align-items-stretch"></app-header>
      <div class="d-flex flex-column vh-100">
        <ng-container>
          <app-top-toolbar class="toolbar"></app-top-toolbar>
        </ng-container>
        <div class="post d-flex">
          <app-content class="container-fluid"></app-content>
        </div>
      </div>
      <app-footer class="footer py-4 d-flex flex-lg-column"></app-footer>
    </div>
  </div>
</div>
<!-- 
class="sidebar sidebar-dark sidebar-hoverable drawer drawer-start drawer-on"
style="width: 250px !important" -->
