:host {
  height: 100%;
  margin: 0;

  .flex-root {
    height: 100%;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px #523f690d;
  padding: 0;
}

.sidebar.sidebar-dark {
  background-color: #f3f3f3;
}

.drawer {
  display: flex;
  overflow: auto;
  z-index: 110;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}

.drawer.drawer-on {
  transform: none;
  box-shadow: 0 1px 9px -3px #0000000d;
  transition: transform 0.3s ease-in-out;
}

.drawer.drawer-start {
  left: 0;
  transform: translate3D(100%);
}

.flex-row-fluid {
  flex: 1 auto;
  min-width: 0;
}

.flex-column-fluid {
  flex: 1 0 auto;
}

//mobile screen
@media (max-width: 991.98px) {
  .sidebar {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;
  }
}

@media (min-width: 992px) {
  .sidebar-fixed .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 101;
    overflow: hidden;
  }

  .sidebar {
    width: 265px;
    transition: width 0.3s ease;
  }

  main,
  span,
  ol,
  ul,
  pre,
  div {
    scrollbar-width: thin;
    scrollbar-color: #eff2f5 transparent;
  }

  .header-fixed.toolbar-fixed .wrapper {
    padding-top: calc(65px + var(-kt-toolbar-height));
  }

  .sidebar-enabled.sidebar-fixed .wrapper {
    transition: padding-left 0.3s ease;
    padding-left: 265px;
  }

  .wrapper {
    transition: padding-left 0.3s ease, margin-right 0.3s ease;
  }
}

// // Wrapper
// .wrapper {
//   transition: 0.3s ease, margin-right 0.3s ease;

//   // Fixed header mode
//   .header-fixed & {
//     padding-top: fixed;
//   }

//   // Fixed header & fixed toolbar modes
//   .header-fixed.toolbar-fixed & {
//     padding-top: fixed;
//   }
// }
